body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: lavenderblush;
    min-height: 100vh; /* Ensures the body takes at least the full viewport height */
    width: 100%; /* Ensures the body takes the full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin: 0; /* Remove default margin */
    padding: 25px;
    color: rgb(182, 47, 117);
    font-size: large;
}

/*header area*/
.navigation {
    background: rgb(248, 174, 224);
    padding: 25px 15px 25px 15px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/*Dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn, button {
    background-color: #6b145c;
    border-radius: 50px;
    color: rgb(244, 218, 235);
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ff82cf;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #c259b1;
    color: rgb(231, 124, 180);
}

button:hover {
    background-color: #c259b1;
    color: rgb(230, 112, 202);
}

/*dropdown end*/
/*header area end*/
.info {
    text-decoration: underline;
    color: #e16cbe;
    border: none;
    cursor: pointer;
    font-size: 19px;
}

.information {
    width: fit-content;
    position: relative; /* Ensure positioning context for child elements */
}

.infotag {
    display: none;
    background-color: #fec8e5;
    border-radius: 20px;
    width: fit-content;
    z-index: 1;
    position:absolute; /* Position absolutely relative to the parent .information */
    left: 0;
}

.infotag p {
    padding: 4px 4px;
    text-decoration: none;
}

/* Display infotag when hovering over .info */
.information .info:hover + .infotag {
    display: block;
}

/* Hide infotag when not hovering over .info */
.information:hover .infotag {
    display: none;
}
/*i hate this this will be used alot*/
footer{
    background-color: rgba(249, 117, 187, 0.511);
    margin: 0px;
    padding: 5px 5px 5px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer{
    background: #ec82cb80;
    margin: 5px;
}
